.bg-youtube {
	background-color: rgba($youtube-red, .3);
}

.bg-amazon {
	background-color: rgba($amazon-orange, .3);
}

.bg-facebook {
	background-color: rgba($facebook-blue, .3);
}

.bg-spotx {
	background-color: rgba($spotx-green, .3);
}

.bg-twitter {
	background-color: rgba($twitter-blue, .3);
}

.bg-snapchat {
	background-color: rgba($snapchat-yellow, .3);
}

.bg-hulu {
	background-color: rgba($hulu-green, .3);
}

.bg-roku {
	background-color: rgba($roku-purple, .3);
}

.bg-instagram {
	background-color: rgba($instagram-purple, .3);
}