// Colors
// =================================================
$brand-primary: #153FA6;


// Fonts
// -------------------------
$sans: Helvetica Neue, Helvetica, Arial, sans-serif;
$serif: Georgia, serif !default;

$header-blue: #335d7f;

/* Colors */
$red: #e53e42;
$blue: #4a76b9;
$dark-blue: #2d3245;
$green: #6FB446;
$cyan: #2b7d8c;
$teal: #1a9ba5;
$purple: #2e2637;

$youtube-red: #e53e42;
$facebook-blue: #214e91;
$instagram-purple: #df007a;
$ott-orange: #F7931E;
$amazon-orange: $ott-orange;
$hulu-green: #6eb345;
$snapchat-yellow: #fcee21;
$twitter-blue: #1da1f2;
$roku-purple: #662d91;
$spotx-green: #005f65;
